DB__DRIVER=postgresql+asyncpg
DB__HOST=localhost
DB__PORT=5432
DB__USER=postgres
DB__PASSWORD=pass
DB__NAME=db

AUTH__SECRET=
AUTH__ALGORITHM=HS256
AUTH__ACCESS_TOKEN_LIFETIME_SECONDS=300
AUTH__REFRESH_TOKEN_LIFETIME_SECONDS=3600

RBAC__ADMIN_ROLE=admin
RBAC__PUBLIC_ROLE=user
RBAC__ADMIN_EMAIL=admin@admin.ru
RBAC__ADMIN_PASSWORD=qwerty

COMMON__DEBUG=true
COMMON__PORT=8000

EMAIL__USERNAME=email
EMAIL__PASSWORD=pass
EMAIL__PORT=80
EMAIL__SERVER=80
EMAIL__TITLE=title
EMAIL__NOTIFIACTION_LIFETIME_SECONDS=3600




