[defaults]

# (boolean) Set this to "False" if you want to avoid host key checking by the underlying connection plugin Ansible uses to connect to the host.
# Please read the documentation of the specific connection plugin used for details.
host_key_checking=False

[ssh_connection]
# SSH arguments for better connection handling
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
# Pipelining improves performance but requires requiretty disabled
pipelining = True